.header {
  max-width: 100vw;
  min-height: 70vh;
  margin: 0 auto;
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100vh, auto);

    grid-gap: 10px;
    &__left {
      align-self: center;
     text-align: center;


    }

    &__right{
        align-self: center;
    }
  }
  &__img--1{
      width: 100%;
      height: 100vh;
      object-fit: cover;
  }
}
