.heading {
  color: black;
  font-size: $default-fs;
  &--primary {
    font-size: $fs-large;
    font-weight: 900;
    text-transform: uppercase;
    background:
      url(../img/ankara.jpg);
    -webkit-background-clip: text;

    background-clip: text;
    color: transparent;
    line-height: 1.1;
  }
  &--secondary {
    font-size: $fs-big;
    color: blue;
  }

  &--tertiary {
    font-size: $fs-small;
    color: $color-tertiary;
    margin-top: 3rem;
    text-transform: capitalize;
  }
  &--africa {
    background-color: black;
    padding: 0 3rem;
    border-radius: 5px;
    color: $color-primary;
    font-size: 5rem;
 
  }
}
